*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    background: #121213;
}
.ring{
    position: relative;
    height: 300px;
    width: 300px;
    border: 10px solid #ff0000;
    border-radius: 50%;
    box-shadow: 0 0 30px #ff000083,
                0 0 51px #ff00009a,
                inset 0 0 31px #ff000083,
                inset 0 0 49px #ff00009a;
    filter: url(#wave);
    -webkit-box-reflect: below 5px linear-gradient(transparent 70%,#121213);
}
svg{
    display: none;
}